<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Rooms dashboard</mat-card-title>
      <button mat-raised-button routerLink="add">Add room</button>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="rooms">
      <ng-container matColumnDef="roomNumber">
        <th mat-header-cell *matHeaderCellDef>Room Number</th>
        <td mat-cell *matCellDef="let room">{{ room.roomNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="roomType">
        <th mat-header-cell *matHeaderCellDef>Room Type</th>
        <td mat-cell *matCellDef="let room">{{ room.roomType }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let room">
          <button mat-button color="accent" (click)="edit(room.id)">Edit</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>