<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Transaction Groups dashboard</mat-card-title>
      <button mat-raised-button routerLink="add">Add transaction group</button>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="transactionGroups">
      <ng-container matColumnDef="Code">
        <th mat-header-cell *matHeaderCellDef>Code</th>
        <td mat-cell *matCellDef="let group">{{ group.code }}</td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let group">{{ group.name }}</td>
      </ng-container>

      <ng-container matColumnDef="Type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let group">
          {{ getTransactionTypeName(group.type) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="TransactionCodesCount">
        <th mat-header-cell *matHeaderCellDef>Codes Count</th>
        <td mat-cell *matCellDef="let group">{{ group.transactionCodesCount }}</td>
      </ng-container>

      <ng-container matColumnDef="IsActive">
        <th mat-header-cell *matHeaderCellDef>Active</th>
        <td mat-cell *matCellDef="let group">
          {{ group.isActive ? 'Yes' : 'No' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let group">
          <button
            mat-button
            color="accent"
            (click)="editTransactionGroup(group.id)"
          >
            Edit
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
